* {
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.top-container {
    position: relative;
    height: fit-content;
    width: 80%;
}

.min-rating-label {
    position: absolute;
    right: 0px;
}

#js-add-bookmark-form > input {
    margin-bottom: 10px;
}

.bookmark-rating-input {

}

.bookmark-description-input {
    width: 300px;
}

.bookmarks-list {
    list-style-type: none;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 0;
}

.bookmark {
    border: 1px solid black;
    width: 80%;
    margin-bottom: 20px;
}

.bookmark > p {
    padding: 10px;
    margin: 0;
}

.bookmark-title, .bookmark-rating {
    position: relative;
}

.bookmark-title {
    margin-top: 0;
    background-color: rgb(199, 194, 194);
    width: 100%;
}

.bookmark-rating {
    margin-bottom: 0;
}

.delete-button, .expand-button {
    position: absolute;
    right: 5px;
}

.delete-button {
    top: 5px;
}

.expand-button {
    bottom: 5px;
}