* {
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.top-button-containers {
    position: relative;
    height: fit-content;
    width: 100%;
}

.add-bookmark-button {
    position: absolute;
}

.min-rating-label {
    position: absolute;
    right: 0px;
}

.add-container {
    position: absolute;
    top: 100px;
}

.bookmark-description {
    width: 300px;
}