* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}
  
button:hover:disabled {
    cursor: default;
}

.hidden {
    display: none;
}

.top-container {
    height: fit-content;
    width: 100%;
    margin: 0 auto;
}

.min-rating-label {
    display: block;
    margin-top: 10px;
}

#js-add-bookmark-form {
    position: relative;
    width: 80%;
}

#js-add-bookmark-form > div {
    margin-bottom: 10px;
}

.rating-container {
    position: absolute;
    left: 60%;
    top: 0;
}

.bookmark-title-input, .bookmark-url-input, .bookmark-description-input, .bookmark-rating-input {
    margin-top: 2px;
}

.bookmark-title-input, .bookmark-url-input {
    width: 50%;
    height: 10%;
}

.bookmark-description-input {
    width: 50%;
    height: 20%;
}

.bookmarks-list {
    list-style-type: none;
    width: 80%;
    margin-top: 25px;
    padding: 0;
}

.bookmark {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
}

.bookmark > p {
    padding: 10px;
    margin: 0;
}

.bookmark-title, .bookmark-rating {
    position: relative;
}

.bookmark-title {
    margin-top: 0;
    background-color: rgb(199, 194, 194);
    width: 100%;
}

.bookmark-rating {
    margin-bottom: 0;
}

.delete-button, .expand-button {
    position: absolute;
    right: 5px;
}

.delete-button {
    top: 5px;
}

.expand-button {
    bottom: 5px;
}

.error-message {
    background: yellow;
    color: black;
    font-size: 16px;
    border: 5px solid black;
    max-width: 80%;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 5px;
    position: relative;
    text-align: center;
}

#error-cancel {
    font-size: 12px;
    position: absolute; 
    top: 0;
    right: 0;
}

